.feature {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
}

body {
  background-color: rgb(171, 206, 206);
}

a {
  margin-bottom: 20px;
  margin-left: 50px;
}
